* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #948e99, #2e1437);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Comfortaa;
    font-size: 0.8rem;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 500px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #b08cff;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #b08cff;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: inherit;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #ff4a2b;
}

.form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
    margin-bottom: 10px;
    position: absolute;
    top: 33px;
}

.form-control.error i.fa-times-circle {
    visibility: visible;
    color: #ff4a2b;
    position: absolute;
    top: 33px;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    visibility: visible;
    color: #ff4a2b;
}

.form button {
    background-color: #b08cff;
    border: 2px solid #b08cff;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    font-family: inherit;
    border-radius: 4px;
}